# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Web store zip
*.zip
*.json

# JS Beautify
.jsbeautifyrc

# for Mac
.DS_Store
