.odh-content {
  font-family: 'Open Sans', Helvetica, Arial, Sans-serif;
  font-size: 14px;
  text-align: left;
  color: #1d2129;
  line-height: 1.5em;
  min-height: 1.5em;
  overflow-y: auto;
  margin: 8px;
  border-radius: 3px;
  box-sizing: border-box;
  ;
}

.odh-headsection {
  margin: 3px 0;
  padding: 0 3px 3px;
  border-bottom: 2px #666 solid;
}

.odh-expression {
  font-size: 1.3em;
  font-weight: bold;
}

.odh-reading {
  margin-left: 5px;
  font-size: 0.9em;
}

.odh-definitions,
.odh-sentence {
  display: block;
  background-color: #fefefe;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 5px;
  margin-top: 5px;
  word-wrap: break-word;
}

.odh-sentence {
  border: 2px dashed #d0d1d5;
}

.odh-createnote {
  cursor: pointer;
  position: relative;
  float: right;
}

.odh-playaudio {
  cursor: pointer;
  position: relative;
  float: right;
}

hr {
  border: 1px;
  margin: 5px 0;
  border-top: 1px solid #d5d5d5;
}

.highlight {
  /*font-weight       : bold;*/
  font-size: 0.9em;
  border-radius: 4px;
  color: #fff;
  padding: 1px 2px;
  margin-right: 3px;
  text-decoration: none;
  text-align: center;
}