.body{
  background-color:#dcedc8;
}

.abkl-content {
  font-family   : 'Open Sans', Helvetica, Arial, Sans-serif;
  font-size     : 14px;
  text-align    : left;
  color         : #1d2129; 
  /*background-color:#dcedc8;*/
  border-radius     : 3px;
  /*background-image: url('_bg01.jpg');*/
  /*background-attachment: fixed;)*/
}

/* section global style */
.abkl-sect {
  border            : 1px solid;   
  border-color      : #e5e6e9 #dfe0e4 #d0d1d5; 
  border-radius     : 5px;  
  background-color  : rgba(255,255,255,0.95);   
  margin            : 3px 0;
  padding           : 5px;       
  line-height       : 1.6em;
  min-height        : 1.6em;
  /*remove below 2 lines if you want flat style*/
  /*border            : 0px solid;   */
  border-left-width : 8px;
  /*box-shadow: 1px 1px 2px rgba(0,0,0,0.3), 1px 1px 3px rgba(0,0,0,0.5);*/
}

.abkl-word span,
.abkl-defs span{
  vertical-align:middle;
}

.abkl-word{
  border-left-color:rgba(124,179,66,0.8);
}
.abkl-defs{
  border-left-color:rgba(22,131,234,0.8);
}
.abkl-sent{
  border-left-color:rgba(229,57,53,0.8);
}

hr{
  border        : 1px;
  margin        : 5px 0;    
  border-top : 1px solid #d5d5d5; 
}

.abkl-word{
  font-size:1.2em;
  font-weight:bold;
}

.abkl-defs{
  word-wrap:break-word;
}

.abkl-sent{
  font-size:0.8em;
}

.abkl-addnote{
  cursor: pointer;
  float:right;
  margin-right:3px;
  vertical-align:middle;
}

/* Tag highlight style */
.highlight{
  /*font-weight       : bold;*/
  font-size         : 0.9em;
  border-radius     : 4px; 
  color             : #fff; 
  padding           : 1px 2px;
  margin-right      : 3px;
  text-decoration   : none;
  text-align        : center;
}
