* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
    font-size: 12px;
    width: 220px;
    border-radius: 5px;
    margin: 2px 4px;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
}

.grouppanel {
    border-radius: 5px;
    background-color: #f1f8e9;
    margin: 5px 0;
    padding: 0 0 3px;
}

.grouptitle {
    font-weight: bold;
    color: white;
    background-color: #93a085;
    border-radius: 5px 5px 0 0;
    margin: 0 0 4px;
    padding: 4px 15px;
}

.crosspanel {
    padding: 0 6px;
    width: 100%;
}

a {
    text-decoration: none;
}

.more {
    float: right;
    color: white;
    cursor: pointer;
}

label,
select {
    width: 95px;
    padding: 4px 5px;
    margin: 3px;
    display: inline-block;
    color: black;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}

label {
    border-style: dashed;
}

.col-2x {
    width: 200px;
}

hr {
    border: 1px;
    margin: 4px 5px;
    border-top: 1px solid #e5e5e5;
}